/*=================================================================*/
/*                      SKILLS                              
/*=================================================================*/
.skill-item .skill-info h4 {
  font-size: $font-size-normal;
  font-weight: 500;
}
.skill-item .skill-info span {
  font-size: $font-size-smaller;
}