/*
  Kien Dang Resume template
  Author: Kien Dang
  Version: 0.0.1
*/
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

/* BASE - Base style, mixins, variables, etc */
@import 'base/variables';
@import 'base/base';
@import 'base/typos';

/* LAYOUTS */
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sections';

/* OTHER MODULES */
@import 'modules/helpers';
@import 'modules/elements';
@import 'modules/buttons';
@import 'modules/responsive';
@import 'modules/skills';
@import 'modules/servicebox';
@import 'modules/clients';
@import 'modules/slick';
@import 'modules/contact';